* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* summary colors */
    --reaction-color: hsl(0, 100%, 67%);
    --reaction-color--background: hsla(0, 100%, 67%, 0.1);

    --memory-color: hsl(39, 100%, 56%);
    --memory-color--background: hsla(39, 100%, 56%, 0.1);

    --verbal-color: hsl(166, 100%, 37%);
    --verbal-color--background: hsla(166, 100%, 37%, 0.1);


    --visual-color: hsl(234, 85%, 45%);
    --visual-color--background: hsla(234, 85%, 45%, 0.1);

    /**/

    /*gradient colors */
    --background--color1: hsla(297, 85%, 38%, 0.9);
    --background--color2:hsla(289, 93%, 42%, 0.9);
    --background--color3:hsla(284, 91%, 45%, 0.9);

    --background--gradient: linear-gradient(to bottom, var(--background--color1), var(--background--color2), var(--background--color3));

    --circle1: hsla(256, 72%, 46%, 0.9);
    --circle2: hsla(297, 85%, 38%, 0.9);

    --circle--gradient: linear-gradient(var(--circle1), var(--circle2));
    /**/

    /* neutral colors */
    --neutral1: hsl(0, 0%, 100%);
    /* used for a small portion of text inside result */
    --neutral2: hsl(220, 70%, 70%);
    /* write use here */
    --neutral3: hsl(241, 100%, 95%);
    /* used for the majority of the text inside result */
    --neutral4: hsl(224, 30%, 27%);
    /* used in the background of the continue button */
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}


body {
    font-family: "Hanken Grotesk";
    font-size: 18px;
}

@keyframes slideFromRight {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes circleRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.result {
    background: var(--background--gradient);
    border-radius: 0 0 10% 10%;
    padding: 15px;
}

.result--container {
    /* created to center the items inside of result*/
    margin: 0 auto;
    width: 85%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.result--header,
.result--score-total,
.result--text {
    color: var(--neutral3);
}

.result--score {
    background: var(--circle--gradient);
    width: 160px;
    height: 160px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.result--bold {
    color: var(--neutral1);
    font-weight: 700;
    font-size: 1.6rem;
}


.result--header {
    font-weight: 700;
    font-size: 1.2rem;
}

.result--score-total,
.result--text {
    font-weight: 500;
}

.result--user-score {
    color: var(--neutral1);
    font-size: 4rem;
}

.summary {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 30px;
}

.summary--score-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary--score {
    border-radius: 10px;
    height: 3rem;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reaction {
    color: var(--reaction-color);
}

.reaction--score {
    background-color: var(--reaction-color--background);
}

.memory {
    color: var(--memory-color);
}

.memory--score {
    background-color: var(--memory-color--background);
}

.verbal {
    color: var(--verbal-color);
}

.verbal--score {
    background-color: var(--verbal-color--background);
}

.visual {
    color: var(--visual-color);
}

.visual--score {
    background-color: var(--visual-color--background);
}

.summary--score-total {
    color: var(--neutral2);
}

.summary--score-strong {
    font-weight: 700;
    color: var(--neutral4);
}

.summary--header,
.bold {
    font-weight: 500;
}

.btn {
    background-color: var(--neutral4);
    color: var(--neutral1);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 15px 0; 
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.btn:active {
    background: var(--circle--gradient);
}


@media only screen and (min-width:961px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50vw;
        margin:0 auto;
        margin-top: 50px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px var(--neutral2);
    }

    .result,
    .summary {
        width: 30vw;
        border-radius: 20px;
    }

    .attribution {
        margin-top: 50px;
    }
}

.slideFromRight {
    animation-name: slideFromRight;
    animation-duration: 1s;
}

.circleRotate {
    animation-name:circleRotate;
    animation-duration: 1s;
}